@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  display: flex;
  justify-content: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: gray;
  display: inline-block;
  position: relative;
  text-decoration: none;
  &:before {
    content: '';
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 100%;
  }
  &:hover {
    &:before {
       width: 0;
    }
  }
}

.left-links {
  display: flex;

}

.right-links {
  display: flex;
}

.header, 
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #eeeeee;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 16px;
}

.header .left-links, 
.header .right-links {
  display: flex;
  gap: 16px;
}

.footer .left-links, 
.footer .right-links {
  display: flex;
  gap: 16px;
}

.footer .right-links {
  margin-right: 30px;
}