/* Add CSS Styling */

.odd {
    background-color: indianred;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#blue {
    color: blue;
    font-size: 36px;
}

.odd.size {
    font-size: 24px;
}

#bold {
    background-color:chartreuse;
    font-size: 24px;
    font-weight: bold;
}